{% extends "base1.html" %}


{#title#}
{% block title %}
找回密码
{% endblock %}


{#style#}
{% block style %}
<link rel="stylesheet" href="/static/css/login.css">
{% endblock %}


{#content#}
{% block content %}
<div id="content">
    <div class="panel">
        <div class="header">
            <ul class="breadcrumb">
                <li><a href="/">主页</a><span class="divider">/</span></li>
                <li class="active">找回密码</li>
            </ul>
        </div>

        <div class="inner">
            <br>
            <label class="control-label" for="email">
                你好{{ u.username }},密码重置邮件已发送到您的邮箱，登录邮箱重置密码后，
                <a href={{ url_for('routes_user.login_view') }}>点此返回登录页面</a>
            </label>
            <br>
            <br><br><br><br><br>
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
    <script src="/static/js/login.js"></script>
{% endblock %}

